*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}



header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0F172A;
    color: white;
    
    
}
header .logo h1{
    margin: 0px 10px;
    font-weight: 900;
}
header .nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}
header .nav-bar ul  {
  list-style: none;
}
header .nav-bar ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

.header{
    background-image: url(../images/photo_2026-07-13_22-46-26.jpg);
    background-position: center center;
    background-size: cover;
    height: 90vh;
    justify-content: center;
     display: flex;
     
    flex-direction: column;
    align-content: center;
    
   
}
.header .text{
    padding: 30px;
    font-size: xx-large;
    color: aliceblue;
    
}

 .header .text h1 span{
    color: #0F172A;    
    }
    .header .text h2 {
    padding: 20px;
    font-size: 70px;   
    font-weight: 800;
    margin-bottom:20px ;
    }
    
    .header .text h1 {
    padding: 20px;
    font-size: 50px;   
    font-weight: 600;
    margin-bottom:20px ;
    }
    .header .text a {
      background-color: #0F172A;
      border: #0F172A;
      height: 40px;
    }
    
    
.card{
    width: 100% !important;
    height: inherit;
    
}
.row{
    padding-left: 10px;
}
.title{
    text-align: center;
    padding: 5px;
}